@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;    
}
img{
    max-width: 100%;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #050505;
    
}

ul {
    list-style: none;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.main_image{
    max-width: 100%;
    margin: 0 auto;
    vertical-align: bottom; 
    /* position: relative; */
    /* overflow: hidden;  */
}    


.main_image video {
    width: 100%;
    /* height: auto; */
    

}

header{
    background-color: rgb(216, 167, 209, 0.947);
}
.header_inner{
    display: flex;
    justify-content: space-between;
    background-color: rgb(220, 153, 230);
    flex-wrap: wrap;
} 
header.header_inner container{
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
header h1{
    font-size: 20px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
nav li{
    border-left: 1px solid #000;
}

nav li:last-of-type{
    border-right: 1px dotted#050505;
}
nav li a{
    display: flex;
    padding: 0 25px;
    line-height: 70px;
    color: #000;
    justify-content: flex-end;
    font-weight: bold; 
     /* font-size: clamp(8px,2vw,20px);  */
}
nav ul a:hover{
    background-color: #f4f2f2;
}
/* main side */
.main_image{
    /* background-image: url(/img/sakura2024_op.mp4);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    */
    object-fit: cover;
    width: 100%;
    height: 100%;

} 
/* .main_image1

/* li{
     height: 450px; 
} */
/* .main_image1 ul video{

} */ */
.about{
    display: flex;
    /* margin: 30px auto; */
    flex-wrap: wrap;
    justify-content: center;
    
}
/* .text_area{
    background-color: rgba(226, 128, 237, 0.641);
} */
.about h2,.about h3{
     flex-wrap: wrap;
    margin: 100px;
    text-align: center; 
    /* flex-basis: auto;
    */
    margin: 0  auto;
     text-align: center; 
     margin-top: 200px;
     
     
     
    
 }
 .about h2{
    margin-top: 150px ;

    /* background-color: rgba(100, 73, 88, 0.284); */
    text-align: center;
    
 }
 .about h3{
    margin-top: 20px;
         
    margin-bottom: 100px;
    
    font-size: 20px;
}
    .iframe-wrapper{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;   
}
.iframe-wrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#contents .flex{
    display: flex;
    justify-content: space-around;
    background-color:  pink;
    padding: 50px;
}
#contents .reverse{
    flex-direction: row-reverse;
    background-color: rgba(85, 215, 215, 0.672) 
}
#contents .box img{
    width: 600px;
}
#contents .box h3{
    font-size: 36px;
    
    font-family: sans serif;
    font-weight: bold;
   margin-top: 150px;
}
#contents .box p{
   
    font-size: 20px;
    margin-top: 20px;
}

/* .flex:last-of-type{
    margin-bottom: 10px;
} */
/* .flex.reverse{
    flex-direction: row-reverse;
    background-color: rgba(216, 167, 209, 0.644);
} */
 .another{
    display: flex;
    background-color:  rgb(231, 170, 133);
    justify-content: space-around;
    flex-wrap: wrap;
    /* margin-top: 5px; */
}
footer{
    background-color: rgb(220, 153, 230);
}
.footer_inner p{
    text-align: center;
    line-height: 50px;
    padding: 30px 0;
    font-size: 25px;
}

 .upto{
    position: fixed;
    right: 50px;
    bottom: 100px;
    width: 75px;
    height: 60px;
    background-color: rgba(210, 144, 218, 0.598);
    border-radius: 10px;
    /* display: none; */
 }

.upto a{
    display: block;
    line-height: 60px;
    text-align: center;
    font-style: 10px;
    text-decoration:none; 
    color:#f4f2f2;
}  



/* @media side */
@media (max-width:768px){ 

    .header_inner container{
    
    display: block;
    height: auto;
    text-align: center;
    
        /* display: block; */
        /* justify-content: space-between; */
        background-color: rgb(220, 153, 230);
        /* flex-wrap: wrap; */
    } 
    h1{
        text-align: center;
        /* text-align: center; */
        /* padding: 20px auto; */
        /* margin-right: 20px;  */
        margin: 0 auto;
        
    } 

     /* nav ul{
        display: block;
/*         
    } */ */ *
    nav ul li a{ 
        
     
        text-align: center; 
        width: 100%;
        height: auto;
        font-size: 15px;
        line-height: 18px;
        padding: 0 auto;
    }  
    .about h3{
        font-size: 16px;
    }
    #contents .flex{
        display: block;
        text-align: center;
    }
    .another{
        text-align: center;
    }
    }
    
/* nav {
    display: none;
} */

