@charset "UTF-8";


*{
    margin: 0 ;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
    /* 幅を指定した要素（タグ）にborder、paddingを設定した際に要素が広がってしまうことを防ぐため */
}


body {
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    /*   ここまでフォントファミリー  各OSに適したフォントを用意しておく*/
    color: #555;
    /* サイト全体の文字色を定義しておく */
}



ul {
    list-style: none;
    /*   liの装飾を削除する  */
}


a {
    text-decoration: none;
    /*   aタグの初期設定。aタグはでデフォルトで持っている下線を消しておく */
    color: inherit;
}

img{
    max-width: 100%;
    /* 親要素の大きさ以上大きくならず、かつ、自身の原寸大以上に大きくならない */
    height: auto;
    /* タグのほうでの高さ指定を調整 */
    vertical-align: bottom;
    /* imgは、文字と同等扱いなので、必ず下部に余白（デセンダー）が出来てしまうのを防ぐ。他の防ぐ方法としてインライン要素をブロック要素に変える方法もあり */
}




/*-----------------------------------------
    pc max- setting   
-----------------------------------------*/

.container {
    max-width: 1024px;
    margin: 0 auto;
}

/*PCの情報コンテンツの最大幅の設定 ------ 各パーツでこのCSSを再利用（マルチクラス）、または流用*/
/*-----------------------------------------
    header responsive setting
------------------------------------------*/
.header_inner {
    display: flex;
    /* 子要素、水平方向の揃えの親要素設定  */
    height: 100px;
    /* 高さ指定 */
    align-items: center;
    /* heightの垂直中央揃えのオプション  */
    justify-content: center;
    /* 幅の水平中央揃え */
}

header .logo{
    text-align: center;
}

header h1{
    font-size: 18px;
    margin-bottom: 5px;
}

header p{
    font-size: 12px;
    /* padding-left: 30px; */
}


/*-----------------------------------------
    main_image setting
------------------------------------------*/

.main_image{   
    height: 300px;
    margin-bottom: 30px;
}

.main_image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*-----------------------------------------
    burger setting
------------------------------------------*/
#burger{
    position: fixed;
    top: 5px;
    right: 5px;
    background-color: #fff;
    width: 50px;
    height: 45px;
    border-radius: 3px;
    border: 1px solid #999;
    z-index: 1;
}

#burger span{
    position: absolute;
    width: 80%;
    height: 3px;
    background-color: #444;
    inset: 0;
    margin: auto;
    transition: .3s;
}

#burger span:nth-child(1){
    top: -35% ;
    transition: .3s .2s;
}

#burger span:nth-child(3){
    top: 35% ;
    transition: .3s .4s;    
}

#burger.active span:nth-child(1){
    top: 0%;
}

#burger.active span:nth-child(3){
    top: 0% ;
}


/*-----------------------------------------
    nav_menu setting
------------------------------------------*/

nav{
    background-color:#40805ed4;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    transition: .2s;
}

nav.drawer{
    left: 0;
}

nav ul {
    /* display: flex ; */
    /* 子要素、水平方向の揃えの親要素設定  */   
    padding-top: 150px;
}

nav li a {
    display: block;
    text-align: center;
    line-height: 65px;
    /* aの高さを70pxに取得 */
    color: #fff;  
}


/*-----------------------------------------
   .wrap setting
------------------------------------------*/
.wrap{
    /* display: flex; */
    justify-content: space-between;
    padding: 0 30px;
    /* スマホの時の左右の内側の余白の設定 */

}

/*-----------------------------------------
   main setting
------------------------------------------*/


h2{
    border-left: 5px solid #40805E;
    background-color:#eee;
    padding: 8px 0 8px 10px; 
    font-size: 18px;  
    margin-bottom: 15px;
    }

h3{
    font-size: 17px;  
    margin-bottom: 15px;
}


/*-----------------------------------------
   aside setting
------------------------------------------*/

aside{
    /* width: 26%; */
    margin-bottom: 40px;

}


/*-----------------------------------------
    .info setting
------------------------------------------*/
.info{
    margin-bottom: 100px;
    /* 次の下のブロックに余白を設定 */
}


.info .info_item{
    margin-bottom: 70px;
     /* 次の下のブロックに余白を設定 */
}

.info .info_item .photo{
    margin-bottom: 10px;
    height: 300px;
}

.info .info_item .photo img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.info .info_item a[rel='category tag']{
    display: inline-block;
    background-color: #40805E;
    padding: 5px 10px;
    color:#fff;
    margin: 0 15px 10px 0;
    font-size: 14px;
    font-weight: bold;
}

.info .info_item time{
    font-size: 13px;
    padding-left: 20px;
    text-decoration: underline;
}

.info .info_item .text{
    line-height: 1.7;
    /* 一番読みやすい行間は、line-heightの、1.5～2の間とされてる */    
    letter-spacing: 0.05em;
    /* 一番読みやすい文字間は、letter-spacingの、0.05em～0.08emの間とされてる ただし、教科書も含めて多少のデータの前後あり*/
    font-size: 14px;
}


/*-----------------------------------------
    .guide setting
------------------------------------------*/

.guide{
    margin-bottom: 100px;
}

.guide li{
    margin-bottom: 15px;
}

.guide .hotel{
    margin-bottom: 40px;
}

.guide .photo{
    margin-bottom: 5px;
}

.guide .text{
    line-height: 1.7;
    /* 一番読みやすい行間は、line-heightの、1.5～2の間とされてる */
    letter-spacing: 0.05em;
    /* 一番読みやすい文字間は、letter-spacingの、0.05em～0.08emの間とされてる */
    padding: 8px 0 ;
    /* 内側の余白の調整 */
    font-size: 14px;
}





/*-----------------------------------------
    .pagination   setting
------------------------------------------*/

.pagination {
	font-weight: bold;
	text-align: center;
    background-color: #fff;
}

.pagination .page-numbers{
	display: inline;
    padding: 5px 10px;

}

.pagination a.page-numbers {

	background-color: #F6F6F6;

}

.pagination span.current,
.pagination a.page-numbers:hover {
	color: #FFF;
	background-color: #40805E;
}

/*-----------------------------------------
    .post-navigation  setting
------------------------------------------*/

.post-navigation .nav-links .nav-previous{
    margin-bottom: 5px;

}

.post-navigation .nav-links a{
    display: inline-block;
    padding: 10px 30px;
    text-align: center;  color: #fff;
    background: #40805E;

}



/*-----------------------------------------
    .recent and .banner setting
------------------------------------------*/

.recent { 
        /* margin-bottom: 20px; */
        /* background-color: #fff; */
        margin-bottom: 15px;
}

.recent nav{ 
        /* margin-bottom: 20px; */
        background-color: #fff;
       
}



.recent h3{
    font-size: 18px;  
    padding: 8px 0 8px 6px;
    margin-bottom: 5px;
}

.recent ul li:last-child{
    margin-bottom: 50px;
}

.recent ul a{
    display: block;
    line-height: 40px;
    padding-left: 15px;
    font-size: 14px;
    text-decoration: underline;
    color: inherit;
}

.banner {
    text-align: center;
}

/*-----------------------------------------
    toTop setting
------------------------------------------*/
#top{
    position: fixed;
    right: 20px;
    bottom: 50px;
    width: 60px;
    height: 60px;
    background-color: #f00;
    color: #fff;
    text-align: center;
    line-height: 60px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;

}

/*-----------------------------------------
    footer setting
------------------------------------------*/

footer{
    background-color: #40805E;
}


.footer_inner  p{
    text-align: center;
    line-height: 100px;
}
.footer_inner small{
    color: #fff;
}



/*-----------------------------------------
    single page setting
------------------------------------------*/

*[class^="wp-block"]{

    margin-bottom: 30px;
}

*[class^="wp-block"] img{
    margin-bottom: 20px;
    z-index: -1;
} 

a[class^="wp-block"] {
    margin: 0; 
} 


.single main p{
    line-height: 1.7;
    /* 一番読みやすい行間は、line-heightの、1.5～2の間とされてる */    
    letter-spacing: 0.05em;
    /* 一番読みやすい文字間は、letter-spacingの、0.05em～0.08emの間とされてる ただし、教科書も含めて多少のデータの前後あり*/
    font-size: 14px;
    margin-bottom: 30px;

}

。single main ul{
    margin-bottom: 30px;
}

.single main li{
    margin-bottom: 8px;
}


/*-----------------------------------------
    page page setting
------------------------------------------*/
.page main p{
    line-height: 1.7;
    /* 一番読みやすい行間は、line-heightの、1.5～2の間とされてる */    
    letter-spacing: 0.05em;
    /* 一番読みやすい文字間は、letter-spacingの、0.05em～0.08emの間とされてる ただし、教科書も含めて多少のデータの前後あり*/
    font-size: 14px;
    margin-bottom: 30px;

}



@media (min-width:768px){

/*-----------------------------------------
    header  setting
------------------------------------------*/

    .header_inner {
        /* display: flex; */
        /* 子要素、水平方向の揃えの親要素設定  */
        /* height: 100px; */
        /* 高さ指定 */
        /* align-items: center; */
        /* heightの垂直中央揃えのオプション  */
        
        justify-content: flex-start;
        /* 幅の水平左揃え */
    }
    
    header .logo{
        text-align: left;
    }

    header h1{
        font-size: 24px;
        /* color: #555; */
        /* padding: 0 0 5px 30px; */
        /* background-image: url(../img/logo.svg); */
        /* background-repeat: no-repeat; */
        /* background-position: left -2px; */
        /* background-size: 26px; */
        
    }  
    header p{
        font-size: 14px;
    }

/*-----------------------------------------
    main_image responsive setting
------------------------------------------*/

    .main_image{
        height: 450px;
        margin-bottom: 3px;
    }

/*-----------------------------------------
    burger responsive setting
------------------------------------------*/

    #burger{
        display: none;
    }

/*-----------------------------------------
    nav_menu  setting
------------------------------------------*/

    nav{
        background-color:#40805E;
        margin-bottom: 50px;
        position: static;
        height: auto;
        /* スマホで設定した、height: 100%;position: fixed;を初期化（無効にする） */
    }    
    
    nav ul {
        display: flex ;
        /* 子要素、水平方向の揃えの親要素設定  */   
        padding-top: 0;
        /* スマホで設定した、padding-top: 150pxを無効にする */
    }
    
    nav li{
        width: 25%;
        border-left: 1px dotted #fff;
    }
    
    nav li:last-child {
        border-right: 1px dotted #fff;
    }
    
    nav li a {
        transition: .3s;
    }
    
    nav li a:hover {
        color: #444;
        background-color: #eee;
    }


/*-----------------------------------------
   .wrap  setting
------------------------------------------*/

    .wrap{
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        /* スマホの時の左右の内側の余白の設定の無効 */

    }

/*-----------------------------------------
   main  setting
------------------------------------------*/

    main{
        width: 70%;
    }
    h2{
        font-size: 20px;  
    }


/*-----------------------------------------
   aside responsive setting
------------------------------------------*/

    aside{
        width: 26%;
        
    }

/*-----------------------------------------
   .info  setting
------------------------------------------*/

    
    .info .info_item{
        display: flex;
        /* 子要素、水平方向の揃えの親要素設定  */
        justify-content: space-between;
        /*  水平方向の揃えのオプション ( 両端揃い )*/
        margin-bottom: 70px;
         /* 次の下のブロックに余白を設定 */
    
    }
    
    .info .info_item .photo{
        width: 30%;
        /* 幅の取得 */
        height: 180px;
        /* 高さの取得 */
    }
    .info .info_item .content{
        width: 65%;
        /* 幅の取得 */  
    }

    .info .info_item .photo img{
        /* object-fit: cover;
        width: 100%; */
        height: 100%;

    }

/*-----------------------------------------
    .guide  setting
------------------------------------------*/    

    .guide ul{
        display: flex;
        /* 子要素、水平方向の揃えの親要素設定  */
        justify-content: space-between;
        /*  水平方向の揃えのオプション ( 両端揃い )*/
    }
    
    .guide li{
        width: 32%;
    }
    

/*-----------------------------------------
    .post-navigation  setting
------------------------------------------*/
    .post-navigation .nav-links{
        display: flex;
        justify-content: space-between;

    }

    .post-navigation .nav-links a{
        /* display: inline-block; */
        padding: 10px 20px;
        /* color: #fff;
        background: #40805E; */

    }  

/*-----------------------------------------
    toTop  setting
------------------------------------------*/

    #top{
        background-color: #40805E;
    }


/*-----------------------------------------
    footer setting
------------------------------------------*/

    .footer_inner >p{
        text-align: right;
        /* line-height: 100px; */
    }   
}



