@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 
        "Zen Maru Gothic", serif;
        color: #555;
        font-weight: 400; 
        font-style: normal;
        
    }

h1{
    font-size: 40px;
    background-color: rgb(227, 142, 227);
    padding: 20px;
    
}
#slider{
    width: 70%;
    margin: 50px auto;
    

}
#slider .slider img{
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    list-style: none;
}

.container{
    max-width: 100%;
    margin: 0 auto;
}


.header_inner{
    display: flex;
    margin-bottom: 50px;
}

header.main_visual{
    width: 100%;
}
header.slider li{
    height: 75vh;
}
header.slider li img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}


.main.container{
 margin: 0 auto 70px; 
 
 padding: 0;
 
}
.container{
    text-align: center;
}
.main h2 {
    font-size: 40px;
    padding: 20px 0 40px;
    text-align: center;
    font-family: "Zen Maru Gothic",serif;
}
.message{
   padding: 20px 0; 
   margin-bottom: 100px;
}
.message p{
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 0;
    line-height: 1.7;
    letter-spacing: 0.07em;
    font-family:"Zen Maru Gothic",serif ;
    font-size: 25px;
    font-style: bold;
    
}
.message p :last-of-type{
   margin: 0 auto 30px; 
}
.message h2{
    font-size: 36px;
}
.message p{
    font-size: 26px;
}
.photo img{
    width: 25%;
    
    display: inline-block;
     margin: 0 20px    
}

.item{
    margin-bottom: 100px;
    text-align: center;
}
.item h3{
    padding: 15px 8px 10px;
    font-family: "Zen Maru Gothic",serif;
}
.item ul{
    display: flex;
    justify-content: space-between;
}
.item ul li{
    width: 23%;

}
.item ul li .photo{
    aspect-ratio: 3/2;
}
.item ul li .photo img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

.item ul p:last-of-type{
    padding: 0 10px;
    font-size: 14px;
    font-family: "Zen Maru Gothic",serif;
}

.item .img{
    aspect-ratio: 3/2;
}
.item .img{
    object-fit: cover;
    width: 50%;
    height: auto;
    object-position: center;
}
button{
    width: 200px;
    height: 80px;
    border: none;
    outline: none;
    background-color:  pink;
    border-radius: 15px;
}
button a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color:#fff;
    font-size: 20px;
    line-height: 80px;
}  
 button:hover{
    background-color: #fff;
    box-shadow: 0px 0px 10px #ff69b4;
    transform: scale(1.1);
    transition: 0.8s;
} 
 button:hover a {
    color: #ff69b4;
} 
.item button{
    display: flex;
    margin: auto;
    
    
}

.upto{
    position: fixed;
    right: 50px;
    bottom: 100px;
    width: 75px;
    height: 60px;
    background-color: rgba(187, 107, 141, 0.63);
    border-radius: 10px;
    /* display: none; */
}
.upto a{
    display: block;
    line-height: 60px;
    text-align: center;
    font-size: 10px;
    text-decoration: none;
    color: #fff;
}



/*-----------------------------------------
    curousel - setting   
-----------------------------------------*/
/* 
.curousel{
    display: flex;
}
.curousel p{
    aspect-ratio: 4/3;
}
.curousel p img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
footer{
    background-color: rgb(230, 150, 230);
}
footer p{
    padding: 50px 0;
    text-align: center;
    font-size: 14px;
}

#top > a{
    display: none;
    position: fixed;
    right: 5%;
    bottom: 10%;
    width: 60px;
    height: 60px;
    font-size: 14px;
    border-radius: 5px;
    text-align: center;
    line-height: 60px;/* 枠組みとして指定された高さと同じに設定することで、縦中央 */
    /* background-color: #666;
    color: #fff;
    z-index: 3;
    /* 適宜設定 */
/* } */  
.footer_inner {
    background-color :rgb(227, 142, 227);
}

.footer_inner p{
    text-align: center;
    line-height: 30px;
    padding: 20px 0;
    font-size: 20px;
    
}
@media (max-width:768px){
    #top{
        display: block;
        font-size: 10px;
    }
    #new_item.item{
        display: block;
    }
    .photo img{
        display: block;
        width: 100%;
        margin: 0 0 25px 0;
    }
    img.house {
        width: 100%;
    }
    h2.small1{
        font-size: 22px;
        line-height: 1.5;
        padding: 0 20px 10px;

    }
    p.small2{
        font-size: 20px;
        line-height: 1.5;
        padding: 0 20px 10px;

    }#slider{
        width:90%;
        margin:  auto;
        
    
    }
    button{
        width: 150px;
        height: 60px;
        border: none;
        outline: none;
        background-color:  pink;
        border-radius: 15px;
    }

    button a{
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color:#fff;
        font-size: 15px;
        line-height: 60px;
    }  
  

}
